.activity-chart {
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 10px;
  color: white;
  height: 300px;
}

@media (max-width: 768px) {
  .activity-chart {
    padding: 15px;
    height: auto;
  }
}
