/* SideMenu.css */
.side-menu {
  width: 200px;
  background-color: #2f2f2f;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #454545;
}

.menu-item > *:first-child {
  margin-right: 10px;
}
